CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
*.swp
runlog.txt
*.o
*.a
tk4
tk4-editor
efpconv
.vs/
*.user
*.VC.db
*.VC.VC.opendb
Debug/
Release/
*.exe
options.cfg
